body {
    background-color: #7bd389;
    margin: auto;
}

.title {
    text-align: center;
    width: 100%;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
    width: 35%;
}

.card {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-size: 0%;
    background-repeat: no-repeat;
}

.card.flip {
    transform: rotateY(180deg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
